* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 350;
}
aside{
    /* border: solid black 1px; */
    padding: 5px;
    width: 125px;
    height: 100%;
}
body{
    height: 100vh;
}